<header style="direction:rtl">
  <nav class="navbar navbar-expand-lg navbar-dark bg-primary">
    <a class="navbar-brand" translate>APP_NAME</a>
    <button
      class="navbar-toggler"
      type="button"
      aria-controls="navbar-menu"
      aria-label="Toggle navigation"
      (click)="toggleMenu()"
      [attr.aria-expanded]="!menuHidden"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div
      style="float:right;"
      id="navbar-menu"
      class="collapse navbar-collapse float-xs-none"
      [ngbCollapse]="menuHidden"
    >
      <div class="navbar-nav">
        <a
          class="nav-item nav-link text-uppercase"
          style="text-align: right;"
          routerLink="/home"
          routerLinkActive="active"
        >
          <i class="fas fa-home" style="margin-left: 10px;"></i>
          <span translate>Home</span>
        </a>
        <a
          class="nav-item nav-link text-uppercase"
          style="text-align: right;"
          routerLink="/about"
          routerLinkActive="active"
        >
          <i class="fas fa-question-circle" style="margin-left: 10px;"></i>
          <span translate>About</span>
        </a>
      </div>
    </div>
  </nav>
</header>
